* { margin:0; 
    padding:0; 
    box-sizing:border-box; 
    font-family: 'Allerta Stencil', sans-serif; 
    color: white;
 }

 .con {
     margin: 30px;
     padding: 30px;
 }

 @media only screen and (max-width: 820px){
    input{
        display: none;  
    }
    label {
        display: none; 
    }
    h2{
      display: none; 
    }
    .slider-value {
      display: none; 
    }
   
 }

main.container {
  height: 100%;
  margin: 10px;
  padding: 10px;
  justify-content: center;
  background-color: white;
}


.master {
    padding-top: 80px;
    padding-left: 190px;
}

.drums ,.bass , .percs , .drones , .vocals {
  display: inline-block;
  border: 2px #f1f1f1 double;
}

.sample1 {
    width: 138px;
    height: 138px;
    color: black;
    text-align: center;
    font-size: 10px;
    font-weight: 900;
    background-color: white;
    animation: holla 3s cubic-bezier(0.47, 0, 0.75, 0.72) infinite;
    animation-play-state: paused;
}

.sample2 {
    width: 138px;
    height: 138px;
    color: black;
    text-align: center;
    font-size: 10px;
    font-weight: 900;
    background-color: white;
    animation: hollas 3s cubic-bezier(0.47, 0, 0.75, 0.72) infinite;
    animation-play-state: paused;
}

.sample3 {
    width: 138px;
    height: 138px;
    color: black;
    text-align: center;
    font-size: 10px;
    font-weight: 900;
    background-color: white;
    animation: hollass 3s cubic-bezier(0.47, 0, 0.75, 0.72) infinite;
    animation-play-state: paused;
}

.sample4 {
    width: 138px;
    height: 138px;
    color: black;
    text-align: center;
    font-size: 10px;
    font-weight: 900;
    background-color: white;
    animation: hollasss 3s cubic-bezier(0.47, 0, 0.75, 0.72) infinite;
    animation-play-state: paused;
}

.sample5 {
    width: 138px;
    height: 138px;
    color: black;
    text-align: center;
    font-size: 10px;
    font-weight: 900;
    background-color: white;
    animation: hollassss 3s cubic-bezier(0.47, 0, 0.75, 0.72) infinite;
    animation-play-state: paused;
}

.sample6 {
    width: 138px;
    height: 138px;
    color: black;
    text-align: center;
    font-size: 10px;
    font-weight: 900;
    background-color: white;
}

.sample7 {
    width: 138px;
    height: 138px;
    color: black;
    text-align: center;
    font-size: 10px;
    font-weight: 900;
    background-color: white;
    display: none;
}

@keyframes holla {
    0% {
      background-color: white;
      opacity: 1; 
    }
    50% {
      background-color: rgba(85, 239, 196,1.0);
      opacity: 0.9;
    }
    100% {
      background-color: rgba(85, 239, 196,1.0);
      opacity: 0.3;
    }
}



@keyframes hollas {
    0% {
      background-color: white;
      opacity: 1; 
    }
    50% {
      background-color: rgba(116, 185, 255,1.0);
      opacity: 0.9;
    }
    100% {
      background-color: rgba(116, 185, 255,1.0);
      opacity: 0.3;
    }
}

@keyframes hollass {
    0% {
      background-color: white;
      opacity: 1; 
    }
    50% {
      background-color: rgba(255, 234, 167,1.0);
      opacity: 0.9;
    }
    100% {
      background-color: rgba(255, 234, 167,1.0);
      opacity: 0.3;
    }
}

@keyframes hollasss {
    0% {
      background-color: white;
      opacity: 1; 
    }
    50% {
      background-color: rgba(178, 190, 195,1.0);
      opacity: 0.9;
    }
    100% {
      background-color: rgba(178, 190, 195,1.0);
      opacity: 0.3;
    }
}

@keyframes hollassss {
    0% {
      background-color: white;
      opacity: 1; 
    }
    50% {
      background-color: rgba(45, 52, 54,1.0);
      opacity: 0.9;
    }
    100% {
      background-color: rgba(45, 52, 54,1.0);
      opacity: 0.3;
    }
}

h1 {
    color: black;
    padding: 30px;
    margin: 30px;
    font-size: 60px;
}


input{
    -webkit-appearance: none;
    transform: rotate(270deg);
    height: 6px;
    margin: 15px;
    background: radial-gradient(circle at 50% 50%, rgba(236, 221, 221, 0) 0.2em, #e4ff00 0.25em, #ffffff00 0.375em), radial-gradient(circle at 50% 75%, rgba(255, 255, 255, 0) 0.25em, #020202 0.375em, rgba(51, 51, 51, 0) 0.375em), radial-gradient(circle at 50% 50%, #2cff05 0.2em, rgba(255, 255, 255, 0) 0.25em);
    background-size: 5px 5px;
    background-repeat: repeat-x;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    
}

h2 {
    color: black;
}

.slider-value {
    color: black;
}

label {
    color: black;
}


.controls {
    display: inline-flex;
    padding: 30px;
    margin: 15px;
}


input[type='range']::-webkit-slider-thumb {
    position: relative;
    z-index: 5;
    -webkit-appearance: none;
    border: double 3px rgba(173, 160, 83, 0.78);
    padding: 0.25em;
    width: 3.5em;
    height: 3.5em;
    border-radius: .5em;
    box-shadow: 0 0.5em 0.25em -1px rgba(114, 114, 114, 0.32);
    cursor: ew-resize;
    background: linear-gradient(#fff, #b3abab);
    text-align:center;
    background-size: 3px;
    background-image: -webkit-linear-gradient(top, #fff, #000, #fff);
    background-image: -moz-linear-gradient(top, #fff, #000, #fff);
    background-image: -ms-linear-gradient(top, #fff, #000, #fff);
    background-image: -o-linear-gradient(top, #fff, #000, #fff);
    background-image: linear-gradient(top, #fff, #000, #fff);
    transform: rotate(90deg);
}
